# Where to find IRTK binaries (a previously set $IRTK overrides this)
irtk=/work/rahec/software/irtk/linux/bin

# Where to find Nifty Reg binaries (a previously set $NIFTYREG overrides this)
#niftyreg=/work/rahec/software/nifty-reg/svn-bin-nocuda
#niftyreg=/work/rahec/software/mm-reg/niftyreg/nifty_reg/build/reg-apps
#niftyreg=/work/rahec/software/nifty-reg/1.3-bin

