# Parallel execution environment

#MAPER_ENV=single # None (single-core execution)
MAPER_ENV=multicore_shell # Shell-level parallelization
#MAPER_ENV=multicore_apis  # OpenMP, CUDA, OpenCL etc.
#MAPER_ENV=pbs   # Portable Batch System
#MAPER_ENV=ge    # Grid Engine

# Use a higher value to launch more processes
# Use a lower value if memory is short
par=4

# Where to find IRTK binaries (a previously set $IRTK overrides this)
irtk=~/software/irtk/bin

# Nifty Seg path.  We need the developer version -- 0.9.4 is not recent enough
niftyseg=~/software/niftyseg/build-git/seg-apps

# Where to find Nifty Reg binaries (a previously set $NIFTYREG overrides this)
# Now not needed on HPC due to niftyreg module 
#niftyreg=~/software/niftyreg/svn-bin-nocuda
#niftyreg=/work/rahec/software/mm-reg/niftyreg/nifty_reg/build/reg-apps
#niftyreg=/work/rahec/software/nifty-reg/1.3-bin

# Memory required (in MB, recommended: 1900 for normal target resolution; for highres targets set to 3900 or 7900)
mem=1900

# Parallel instances
par=1

# Which HPC queue to run on
#queue="pqneuro"

# Atlas root directory
#atlas=$WORK/maper/atlases-n30r83
